@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --background-color: #141d2f;
  --primary-color: #0079ff;
  --text-color-error: #f74646;
  --app-width: auto;
  --app-margin: 31px 24px;
}

body * {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  transition: background-color 200ms linear;
}

body *::before,
body *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-size: 15px;
  line-height: 25px;
}

button {
  /* Clear button styles */
  border: none;
  padding: 0;
  background: none;
}

h1 {
  font-size: 26px;
  line-height: 38px;
}
h2 {
  font-size: 22px;
  line-height: 33px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
}
h4 {
  font-size: 13px;
  line-height: 20px;
}

p {
  margin: 0;
}

a {
  color: var(--text-color-secondary);
}

/* THEME VARIABLES */

.theme-light {
  --background-color: #f6f8ff;
  --background-color-secondary: #fefefe;
  --text-color: #2b3442;
  --text-color-secondary: #4b6a9b;
  --text-color-auxiliary: #697c9a;
  --text-switch-color-hover: #222731;
  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.theme-dark {
  --background-color: #141d2f;
  --background-color-secondary: #1e2a47;
  --text-color: #ffffff;
  --text-color-secondary: #ffffff;
  --text-color-auxiliary: #ffffff;
  --text-switch-color-hover: #90a4d4;
  --box-shadow: none;
}

/* Common/Shared classes */

.attribution {
  font-size: 11px;
  color: var(--text-color-auxiliary);
  margin-top: 20px;
  padding: 10px 24px;
  text-align: center;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* TABLET */

@media (min-width: 573px) {
  :root {
    /* Variables for Tablets */
    --app-width: 573px;
  }
  main {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* DESKTOP */

@media (min-width: 768px) {
  :root {
    --app-width: 730px;
  }
}
